.button
{
-fx-background-color : #00BFA6 ;
}
.button:hover 
{
	-fx-background-color : #90D9D4 ;
}
.button:pressed
{
	-fx-background-color : #90D9D4;
	}
	
.table-view .column-header, 
.table-view .column-header-background .filler {
	-fx-background-color: #00BFA6;
}